<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/index.css">
    <title>Document</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
</head>
<body>
    <!-- Main converter area -->
    <div class="container">
        <div class="from">
            <!-- currency format 1 -->
            <div>
                <input placeholder="Currency1" list="amount" id="currency1" value="US Dollar">
                <datalist id="amount">
                    <!-- options in here -->
                </datalist>
            </div>
            
            <div class="group">
                <select id="symbol1">
                    <!-- optios here -->
                </select>
                <input placeholder="0.00" id="amount1">
            </div>
            
        </div>

        <div class="to">
            <!-- currency format 2 -->
            <div>
                <input placeholder="Currency2" list="amount" id="currency2" value="US Dollar">
            </div>
            <div class="group">
                <select id="symbol2">
                    <!-- options here -->
                </select>
                <input type="number" placeholder="0.00" id="amount2">
            </div>
        </div>
    </div>

    <script src="static/currency.js"></script>
    <script src="static/index.js"></script>
    
</body>
</html>